@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
:root {
  --color-primary: #00c3f4;
  --color-primary-variant: #0062f4;
  --color-gradient: linear-gradient(
    var(--color-primary),
    var(--color-primary-variant)
  );
  --color-white: white;
  --color-black: black;
  --container-width-lg: 80%;
  --container-width-md: 92%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: inherit;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
.header {
  padding: 0rem 4.5rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
}
.navbar_list {
  display: flex;
  gap: 4.8rem;
}
.mobile_nav_btns {
  display: none;
  background: transparent;
  cursor: pointer;
}
.mobile_nav_icons {
  font-size: 3rem;
  color: #212513;
}
.uil-times {
  display: none;
}

@media (max-width: 62em) {
  .mobile_nav_btns {
    display: block;
    z-index: 999;
    color: #212529;
  }
  .header {
    position: relative;
  }
  .navbar {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    background-color: #00c3f4;
  }
  .navbar_list {
    flex-direction: column;
    align-items: center;
  }
  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .active .mobile_nav_btns .mobile_nav_icons.uil-times {
    display: block;
  }
  .active .mobile_nav_btns .mobile_nav_icons.uil-bars {
    display: none;
  }
}
@media (max-width: 35em) {
  .header {
    padding: 0 2.4rem;
  }
}
